body{
    background: linear-gradient(to right, #00e1ff, #01b963);

}
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}  
.kk{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
  font-size: 20px;
}
li{
  font-size: 20px;
}
h3{
  font-size: 25px;
}
div{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: #662B8A;
}